* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body img {
    max-width: 80%;
    height: auto;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    flex-direction: column;
}

#OneLabInp, #inputTwoLab, #inputThereLab  {
    font-size: 30px;
    width: 50%;
    margin: 0 auto;
}

#inputFourLabx1, #inputFourLabx2, #inputFourLabx3, #inputFourLabx4, #inputFiveLab {
    font-size: 30px;
    width: 50%;
    margin: 20px auto;
}

.inptFour {
    margin: 25px 0;
}

.row {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#imgAtOneLab, #imgAtTwoLab, #imgAtThereLab{
    padding: 25px 0;
}

#button, #submitTwoLab, #submitThereLab, #submitFourLab {
    margin: 25px 0;
    font-size: 20px;
}

.One_Lab, .Two_Lab_box {
    border: 1px solid lightgray;
    margin: 25px 0;
}

.One_Lab:hover {
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    transition-duration: 1s;
}

.Two_Lab_box:hover {
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    transition-duration: 1s;
}

.There_Lab_box:hover {
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    transition-duration: 1s;
}

.One_Lab p {
    font-size: 25px;
}

.Two_Lab_box p {
    font-size: 25px;
}

.There_Lab_box p {
    font-size: 25px;
}

#error {
    color: red;
}


.test {
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
